# IRIS Dataset

In [6]:
import numpy as np
import pandas as pd
from sklearn import datasets

<table><tr><td><img src='files/img/flower1.jpg' height="300" width="300"></td><td><img src='files/img/flower2.jpg' height="300" width="300"></td></tr></table>

In [22]:
iris = datasets.load_iris()

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [27]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [28]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [29]:
X = iris.data
y = iris.target

In [33]:
print(X.shape, y.shape)

(150, 4) (150,)

In [34]:
iris_df = pd.DataFrame(np.c_[X, y], columns = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'class'])

In [35]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0